streamlit==1.27.2

pandas==2.0.3
numpy==1.24.4
plotly==5.16.1
scipy
funda-scraper==1.0.11
seaborn
matplotlib
sklearn==0.0
openpyxl

streamlit-folium==0.15.0
requests==2.31.0
tqdm
geocoder==1.38.1
folium==0.14.0
